.boxItem {
    margin-top: 50px;
    margin-left: 400px;
}

.boxText {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}

.boxDescription {
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;

}