.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 0.7fr 0.6fr 0.9fr 1fr 1.8fr;
    gap: 0px 0px; 
    grid-template-areas: 
      "Image Name"
      "Image Price"
      "Image Basket"
      "Description Description"
      "Specification Specification"
      ". ."; 
  }
  
  .description { grid-area: Description; }
  .specification { grid-area: Specification; }
  .image { grid-area: Image; }
  .name { grid-area: Name; }
  .price { grid-area: Price; }
  .basket { grid-area: Basket; }

  @media screen and (max-width: 1500px) {
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
  }