@{
    ViewData["Title"] = "Home Page";
}

@model ICollection<Categories.CategoryModel>

@foreach(var category in Model)
{
    <p>
        <b>@category.Id</b>: @category.Name
    </p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
